


body{
    background:rgb(214, 214, 214);
    height:100vh;
    width:100%;
}

.container{
    position: absolute;
    height:200px;
    top: 40%;
    left:30%;
    display: flex;
    width:20%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    background:rgb(14, 14, 36);
    border-radius:10px;
}
h1, h2{
    color: rgba(105, 105, 150, 0.668);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    
   
} #increment-btn{
   background: rgba(59, 46, 84, 0.564);
   color: rgba(241, 227, 227, 0.618); 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: inherit;
   text-transform: capitalize;
   font-size: 13px;
  
   box-shadow: 5px;
   border: 0.01em solid rgb(146, 146, 147);
   border-radius: 5px;
   padding:1px 8px;
}
#increment-btn:hover{
    background: rgba(88, 77, 107, 0.564); 
}
  @media (max-width:720px) {
    body{
        background:rgb(189, 52, 52);
        height:50%;
        width:50%;
    }
    
.container{
    position: absolute;
    height:40%;
    top: 40%;
    left:30%;
    display: flex;
    width:30%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:30px;
    background:rgb(42, 42, 100);
    border-radius:10px;
}

  }